Запрошен сброса пароля

Здравствуйте, {{ user.get_username }}!

Для сброса пароля для Вашего профиля {{ email }} следуйте по следующей ссылке:
{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}

Если Вы не вносили изменений или считаете, что посторонние лица получили доступ к Вашей учетной записи, немедленно смените пароль на странице https://. Затем войдите в свою учетную запись на странице __ для проверки настроек безопасности.

За дополнительной информацией обращайтесь в Службу поддержки.

С уважением,

Служба поддержки.
