{% extends "base.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
    <div class="login">
        <h3>Изменение пароля</h3>
        <p>Используйте форму снизу для изменения пароля</p>
        <form action="." method="post">
            <div class="inputForm">
                {{ form.old_password }}
            </div>
            <div class="inputForm">
                {{ form.new_password1 }}
            </div>
            <div class="inputForm">
                {{ form.new_password2 }}
            </div>
            <p><input class="btn btn-dark btn-lg mt-2" type="submit" value="Изменить"></p>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
