{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
<div class="login">
    <h3>Сброс пароля</h3>
    {% if validlink %}
        <p>Пожалуйста введите пароль дважды:</p>
        <form action="." method="post">
            <div class="inputForm">
                {{ form.new_password1 }}
            </div>
            <div class="inputForm">
                {{ form.new_password2 }}
            </div>
            <p><input class="btn btn-dark btn-lg mt-2" type="submit" value="Изменить"></p>
            {% csrf_token %}
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it
    has already been used. Please request a new password reset.</p>
{% endif %}
</div>

{% endblock %}
